/*
* @Author: Marte
* @Date:   2017-08-31 12:01:09
* @Last Modified by:   Marte
* @Last Modified time: 2017-08-31 19:56:09
*/
div.member_bg {
    background: url(../../images/about_usImg/team-bg.jpg)  no-repeat bottom/contain;
}
.member_all {
    margin-top: 60px;
    background-color: #ccc;
    margin-bottom: 60px;
}
.photo {
    width: 370px;
    height: 200px;
    margin: 10px;
    float: left;
}
#zzc {

}
#lmf {

}
#zz {

}
#zk {

}
#wzg {

}
#gxl {

}